.map {
    background-color: #ffddcc;
    opacity: 0.3;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.mapContainer {
    width: 100%;
    overflow: scroll;
    padding: 10px;
}
